<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pixel Switch Game</title>
  <link rel="icon" href="{{ url_for('static', filename='nintendo-switch-logo.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Pixel Switch Game</h1>
      <title>Pixel Switch Game</title>
      <h2>\nCongratulations! You guessed the game! it was : {{ winning_guess }}</h2>
    </div>
<div class="content">
  <div class="guesses">
    <div class="guess-box">{{ guess1 }}</div>
    <div class="guess-box">{{ guess2 }}</div>
    <div class="guess-box">{{ guess3 }}</div>
    <div class="guess-box">{{ guess4 }}</div>
    <div class="guess-box">{{ guess5 }}</div>
    <div class="guess-box">{{ guess6 }}</div>
  </div>
      <div class="pixel-image">
        <img src="{{ b64_img }}" alt="Pixelated movie">
      </div>
    </div>
    <form class="input-form" action="/reset" method="POST" autocomplete="off">
      <button type="submit">Play again</button>
    </form>
  </div>
</body>

</html>
